Repository voxpupuli/puppet-sftp_jail, pull requests merged in 2018-09, with the labels that each got.

#48 modulesync 2.0.0
  .msync.yml
  .overcommit.yml
  Gemfile
Labels: modulesync

#50 release 2.0.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#52 0775 permissions for /incoming
  manifests/jail.pp
  spec/defines/sftp_jail_jail_spec.rb
Labels: bug
