Repository voxpupuli/puppet-sftp_jail, pull requests merged in 2021-08, with the labels that each got.

#77 Make $sftp_jail::user::jail a required parameter
  REFERENCE.md
  manifests/user.pp
Labels: backwards-incompatible

#78 the owning group of a users home directory defaults to $user, not to $name
  REFERENCE.md
  manifests/user.pp
Labels: backwards-incompatible

#74 Add a default password authentication setting
  REFERENCE.md
  manifests/init.pp
  manifests/jail.pp
  spec/acceptance/sftp_jail_spec.rb
  spec/classes/sftp_jail_init_spec.rb
  spec/defines/sftp_jail_jail_spec.rb
Labels: enhancement

#81 validate class and defined resource parameters
  REFERENCE.md
  manifests/jail.pp
  manifests/user.pp
  spec/type_aliases/file_name.rb
  spec/type_aliases/user_name.rb
  types/file_name.pp
  types/user_name.pp
Labels: enhancement

#84 Add Debian 11 and Ubuntu 20.04 support
  metadata.json
Labels: enhancement

#86 Drop Puppet 5/Add Puppet 7 support
  metadata.json
Labels: backwards-incompatible

#85 Modulesync 4.2.0
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  spec/defines/sftp_jail_jail_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/type_aliases/file_name.rb
Labels: modulesync
