Repository voxpupuli/puppet-sftp_jail, pull requests merged in 2021-02, with the labels that each got.

#65 modulesync 4.0.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .travis.yml
  Gemfile
  Rakefile
  spec/acceptance/sftp_jail_spec.rb
Labels: modulesync

#66 Remove unused files and parameters
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  manifests/service.pp
Labels: enhancement

#67 Drop EL6 and Ubuntu 18.04, add Ubuntu 18.04 & Debian 10
  .fixtures.yml
  metadata.json
  spec/defines/sftp_jail_jail_spec.rb
  spec/defines/sftp_jail_user_spec.rb
Labels: backwards-incompatible
