Repository voxpupuli/puppet-sftp_jail, pull requests merged in 2025-03, with the labels that each got.

#123 Drop End of Life Redhat 7 and Centos 7/8
  metadata.json
Labels: backwards-incompatible

#122 Release v5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#121 modulesync 9.4.0
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .msync.yml
Labels: modulesync

#125 metadata.json: Add OpenVox
  metadata.json
Labels: enhancement
